<h3>Logged in as {{user.username}}</h3>
<h5>Choose an Option</h5>
  <div class="card-container">

    <a class="card" [routerLink]="['/login-demo',id,'property-list']">
      <img class="material-icons" src="https://www.svgrepo.com/show/231051/home-property.svg" width="24" height="24" viewBox="0 0 24 24"/>
      <span>Manage Property</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" [routerLink]="['/login-demo',id,'repair-list']">
      <img class="material-icons" src="https://www.svgrepo.com/show/53490/repair.svg" width="24" height="24" viewBox="0 0 24 24"/>
      <span>Manage an issued repair</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
  </div>
  <router-outlet></router-outlet>
