<div [hidden] = "loggedUserFlag">
<h4>Pick a property</h4> 
<div class="card-container">
<div *ngFor="let r of properties.values()" class="card m-3" style="width: 10rem;" [routerLink]="['property-form', r.id]">
  <img [src]="" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{r.eCode}}</h5>
        <p class="card-text">{{ r.address }}</p>
  </div>
</div>  
</div>
</div> 
<!-- <h4>Or find by user</h4> 
<h4>(Emulate logged in scenario)</h4> 
<div class="card-container">
<div *ngFor="let u of users.values()" class="card m-3" style="width: 10rem;" (click)= getPickedUserProperies(u.id,u.username)>
  <img [src]="" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{u.username}} {{ u.last_name}}</h5>
        <p class="card-text">{{ u.email }}</p>
  </div>
</div>  
</div>   -->
<div [hidden] = "!loggedUserFlag" *ngIf="loggedUserFlag">
  <h4>Pick a property</h4> 
  <div class="card-container">
  <div *ngFor="let p of loggedusersproperties.values()" class="card m-3" style="width: 10rem;" [routerLink]="['property-form',p.id]">
    <img [src]="" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{p.eCode}}</h5>
          <p class="card-text">{{ p.address }}</p>
    </div>
  </div>  
  </div>
  </div>
  <router-outlet></router-outlet>