<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate class="form-signin">
    <div class="text-center mb-4">
      <p>Update Delete or Create</p>
    </div>
  
    <div class="form-label-group">
    <label for="eCode">Ecode</label>
      <input type="text" name="eCode" class="form-control" value="{{property.eCode}}" required="" autofocus="" ngModel>   
    </div>

    <div class="form-label-group">
    <label for="address">Address</label>
      <input type="text" name="address" class="form-control" value="{{property.address}}" required="" ngModel>     
    </div>
    
    <div class="form-label-group">
        <label for="constructionYear">Construction Year</label>
          <input type="text" name="constructionYear" class="form-control" value="{{property.constructionYear}}" required="" ngModel>     
        </div>
    
    <div class="form-label-group">
            <label for="type">Type</label>
              <input type="text" name="type" class="form-control" value="{{property.type}}" required="" ngModel>     
            </div>
        
  
    <div class="select">
        <select name="option" ngModel>
            <option value="update">Update</option>
            <option value="delete">Delete</option>
            <option value="create">Create</option>
        </select>
        
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
  </form>
  <h2>{{message}}</h2>