<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate class="form-signin">
    <div class="text-center mb-4">
      <p>Update Delete or Create</p>
    </div>
  
    <div class="form-label-group">
    <label for="username">Username</label>
      <input type="username" name="username" class="form-control" value="{{user.username}}" required="" autofocus="" ngModel>   
    </div>

    <div class="form-label-group">
        <label for="password">Password</label>
          <input type="password" name="password" class="form-control" placeholder="password" required="" ngModel>     
    </div>

    <div class="form-label-group">
    <label for="vat">vat</label>
      <input type="email" name="vat" class="form-control" value="{{user.vat}}" required="" ngModel>     
    </div>
    
    <div class="form-label-group">
        <label for="name">Name</label>
          <input type="text" name="name" class="form-control" value="{{user.name}}" required="" ngModel>     
        </div>
    
    <div class="form-label-group">
            <label for="surname">Surname</label>
              <input type="text" name="surname" class="form-control" value="{{user.surname}}" required="" ngModel>     
            </div>
            <div class="form-label-group">
                <label for="address">Address</label>
                  <input type="address" name="address" class="form-control" value="{{user.address}}" required="" ngModel>     
                </div>
            
            <div class="form-label-group">
                    <label for="phone_number">Phone Number</label>
                      <input type="text" name="phone_number" class="form-control" value="{{user.phone_number}}" required="" ngModel>     
                    </div>

                    <div class="form-label-group">
                      <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" value="{{user.email}}" required="" ngModel>     
                      </div>

                    <div class="form-label-group">
                        <label for="user_Type">Type</label>
                          <input type="text" name="user_Type" class="form-control" value="{{user.user_Type}}" required="" ngModel>     
                        </div>
    <div class="select">
        <select name="option" ngModel>
            <option value="update">Update</option>
            <option value="delete">Delete</option>
            <option value="create">Create</option>
        </select>
        
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
  </form>
  <h2>{{message}}</h2>

