<!-- <button (click)="requestData()" class="btn btn-success">Make Request</button>
<br> -->
<!-- <pre>{{ response | json }}</pre> -->

<!-- one user only -->
<!-- {{response.data.first_name}}, {{ response.data.last_name}}
<img [src]="response.data.avatar"> -->

<!-- <div *ngIf="loading">Loading......</div> -->

<!-- {{ response }} <br>-->

<!-- many user -->
<h4>Pick a user</h4> 
<div class="card-container">
<div *ngFor="let r of response.values()" class="card m-3" style="width: 10rem;" [routerLink]="['/user-list/user-form', r.id]">
  <img [src]="" class="card-img-top">
  <div class="card-body">
    <a ></a>
    <h5 class="card-title">{{r.username}} {{ r.last_name}}</h5>
        <p class="card-text">{{ r.email }}</p>
  </div>
</div>  
</div>  


<router-outlet></router-outlet>
 
      